<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul clas="nav pull-right">  
					<li><%= link_to "Home", root_path %></li>
					<% if signed_in? %>
						<li><%= link_to "Hosts", 'hosts' %> </li>
						<li><%= link_to "Profile", current_host %> </li>
						<li><%= link_to "Settings", edit_host_path(current_host) %> </li>
					<% end %>
					<% if signed_in? %>
						<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %>
					<% end %>
				</ul>
			</nav>	
		</div>
	</div>
</header>